header {
  background-color: #000000;
  padding: 33px;
}

header div.container {
  padding-left: 60px;
}

div.gray {
  height: 27px;
  background-color: #cdcdcd;
}

img.cellphone {
  max-width: 100%; }

div.cellphone {
  text-align: center;
}

span.bold {
  font-weight: 600;
  font-size: 27px;
  color: #000000;
  display: inline-block;
  margin-bottom: 5px;
 }

span.bold-title {
  font-size: 24px;
  font-weight: 600;
  color: #7d62b0;
}

.color {
  margin-right: 15px;
  padding: 6px;
  border: 1px solid transparent;
  background-image: linear-gradient(#ffffff, #ececec 0%, #ffffff 0%, #ffffff 0%, #ececec 100%);
  background-color: #ededed;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-color: #bfbfbf; }

div.jumbotron {
  background-color: #ffffff;
}

p.text-one {
  font-size: 15px;
  color: #000000;
}

p.option-color {
  font-size: 16px;
  color: #565656;
}

div.part-one {
  margin-top: 37px;
}

.bx-wrapper {
  border: none;
  box-shadow: none;
}

.container {
  max-width: 941px;
}

@media screen and (max-width: 991px) {
  .center {
    text-align: center; }
  div.opcoes-de-cor {
    text-align: center;
  }
  header {
    padding-left:10px;
  }
  div.top {
    margin-bottom: 0;
  }
  div.carrossel {
    padding: 0 10px;
  }
  }
