header {
  background-color: #000000;
  padding: 32px 0;
}

div.gray {
  height: 25px;
  background-color: #cdcdcd;
  margin-bottom: 80px;
}

.container {
  max-width: 941px;
}

div.photo-product {
  text-align: center;
}

img.box-color {
  margin-right: 15px;
  padding: 6px;
  border: 1px solid transparent;
  background-image: linear-gradient(#ffffff, #ececec 0%, #ffffff 0%, #ffffff 0%, #ececec 100%);
  background-color: #ededed;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-color: #bfbfbf;
}

.bx-wrapper {
    border: none;
    box-shadow: none;
}

div.carrossel {
  max-width:941px;
}

div.photos img {
  max-width: 100%;
}

div.photos {
  margin-top: 15px;
}

div.invert-text {
  text-align: right;
}

div.middletext {
  text-align: center;
}

div.middletext span {
  display: inline-block;
  height: 195px;
}

.middletext a {
  font-size: 16px;
}

.opcoes-de-cor p {
  font-size: 14px;
  color: #565656;
}

span.icontwo {
  padding-top:64px;
}

p.confere {
  font-size: 12px;
}

.black {
  color: #000000;
}

span.topicons {
  margin: 30px 0;
}

span.middleicons img {
  display: inline-block;
}

p.mini-text {
  margin-left: 15px;
  display: inline-block;
  max-width: 250px;
  font-size: 12px;
  color: #7c7c7c;
}

p.mini-text a {
  display: inline-block;
  font-size: 13px;
  margin-top: 10px;
}

div.readmore table {
  background-color: #ffffff;
  padding: 0;
}

div.lightblue {
  background-color: #f0f5f9;
  padding: 70px 0;
  margin-top:60px;
}

div.lightgray {
  background-color: #f8f8f4;
  padding-bottom: 60px;
  padding-top: 50px;
}

div.threeicons {
  margin-top: 50px;
}

tr {
  border-bottom: 1px solid #000000;
}

tr.noborder {
  border-bottom: 0;
}

td a {
  font-size: 12px;
}

div.line {
  height: 7px;
  background-color: #f8f8fa;
  margin-bottom: 68px;
}

td.table-text {
  padding-left: 15px;
}

table.measures {
  background-color: #f1f4f9;
  padding: 0;
}

.measures tr {
  border-bottom: 0;
}

div.icons-bottom {
  margin-bottom: 68px;
}

table p {
  font-size: 14px;
}

div.box {
  margin-bottom: 40px;
}

div.start {
  margin-bottom: 15px;
}

a.model {
  color: #7d62b0;
  font-size: 22px;
}

div.text-start {
  margin-top: 75px;
}

div.social {
  margin-top: 30px;
}

div.social img {
  margin: 5px;
}

div.anchor {
  text-align: center;
  margin: 80px 0;
  margin-bottom: 70px;
}

div.finalbottom a {
  color: #ffffff;
  padding: 15px;
  background-color: #5085fa;
}

footer {
  height: 84px;
  background-color: #000000;
}

div.finalbottom {
  margin-top: 50px;
  margin-bottom: 60px;
}

@media screen and (max-width: 991px) {
  .center {
    text-align: center; }
  div.opcoes-de-cor {
    text-align: center;
  }
  div.measure {
    margin-top: 30px;
  }
  table {
    width: 100%;
  }
  div.middletext {
    margin-top: 0;
  }
  div.middle1 {
    margin-top: 0;
  }
  div.photo-product {
    margin-bottom: 60px;
  }
  div.read2 {
    margin-top: 50px;
  }
  div.finalbottom {
    text-align: center;
  }
  div.bluebottom {
    margin-top: 50px;
  }
}
